<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rainbow Chat Analytics{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header class="site-header">
        <h1>Rainbow Chat Analytics</h1>
        {% block header %}
        {% endblock %}
        <nav class="main-nav">
            <a href="{{ url_for('index') }}"><svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 -960 960 960" width="36px" fill="#FFFFFF"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg></a>
        </nav>
    </header>
    
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
    
    <footer class="site-footer">
        {% block footer %}
        <p>&copy; 2025 Rainbow Chat Analytics</p>
        {% endblock %}
    </footer>
    
    <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>